<div class="SiteBox">
    Sikeresen hozzáadtad az elemet
    <br />

    <a class="nav-link text-dark" asp-controller="Home" asp-action="Menu">Tovább vásárlást</a>

    <br />
    <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index">tovább a Kosárhoz</a>

</div>