@{
    ViewData["Title"] = "Pizza Barna";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/Assets/szalamis-pizza.jpg" />
    <br/>
    Elérhetősegek:<br/>
    mobil: 01378791247<br/>
    vonalas: 423528791247<br/>
    Nyitvatartás<br/>
    Hétköznap<br />
    0-22 H K Sz Cs P <br/>
    Hétvégén<br />
    0-24 Sz V <br/>

</div>
